@inherits LayoutComponentBase
<div class="page" style="overflow: hidden !important;">
    <main>
        <article style="overflow: hidden !important;">
            @Body
        </article>
    </main>
</div>
