@page "/"
@using RentingPlatform.Shared
@using RentingPlatform.UI.Services
@using RentingPlatform.UI.Components
@inject IUserService UserService
@inject NavigationManager NavigationManager

<h3>Login</h3>

<LoginForm Users="loginUser" OnValidSubmit="LoginUser" ButtonText="Login" ErrorMessage="@errorMessage"/>

<p>
    Don't have an account? <a href="/register">Register here...</a>.
</p>

@code
{
    private Users loginUser = new();
    private string errorMessage;

    private async Task LoginUser()
    {
        var users = await UserService.GetAllUsersAsync();
        foreach (var user in users)
        {
            if (user.Email == loginUser.Email && user.Password == loginUser.Password) 
            {
                errorMessage = "Login successful.";
                await Task.Delay(1000);
                NavigationManager.NavigateTo("/home");
            }
        }

        errorMessage = "Invalid credentials.";
    }
}