@page "/register"
@using RentingPlatform.Shared
@using RentingPlatform.UI.Services
@using RentingPlatform.UI.Components
@inject IUserService UserService
@inject NavigationManager NavigationManager

<h3>Register</h3>

<RegisterForm RegisterUser="newRegisteredUser" OnValidSubmit="CreateUser" ButtonText="Register" ErrorMessage="@errorMessage"/>

@code
{
    private RegisterUser newRegisteredUser = new();
    private Users newUser = new();
    private string errorMessage;

    private async Task CreateUser()
    {
        errorMessage = string.Empty;

        newUser = new Users
        {
            Name = newRegisteredUser.Name,
            Email = newRegisteredUser.Email,
            Password = newRegisteredUser.Password
        };

        try
        {
            await UserService.CreateUserAsync(newUser);
        }
        catch (Exception ex)
        {
            errorMessage = $"An unexpected error occurred: {ex.Message}";
        }

        if(errorMessage == null && errorMessage == "")
        {
            errorMessage = "Registration successful! Redirecting to login page...";
            await Task.Delay(1000);
            NavigationManager.NavigateTo("/");
        }
    }
}