@using RentingPlatform.Shared
<EditForm Model="Users" OnValidSubmit="() => OnValidSubmit()">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label class="form-label">Email</label>
        <InputText @bind-Value="Users.Email" class="form-control"/>
        <ValidationMessage For="() => Users.Email" />
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <InputText @bind-Value="Users.Password" class="form-control"/>
        <ValidationMessage For="() => Users.Password" />
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
    <p class="text-danger">@ErrorMessage</p>

</EditForm>

@code {
    [Parameter]
    public Users Users { get; set; }
    
    [Parameter]
    public Func<Task> OnValidSubmit { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public string ErrorMessage { get; set; } = string.Empty;
}