@using RentingPlatform.Shared
<EditForm Model="RegisterUser" OnValidSubmit="() => OnValidSubmit()">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label">Name</label>
        <InputText @bind-Value="RegisterUser.Name" class="form-control" />
        <ValidationMessage For="() => RegisterUser.Name" />
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <InputText @bind-Value="RegisterUser.Email" class="form-control" />
        <ValidationMessage For="() => RegisterUser.Email" />
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <InputText @bind-Value="RegisterUser.Password" type="password" class="form-control" />
        <ValidationMessage For="() => RegisterUser.Password" />
    </div>

    <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <InputText @bind-Value="RegisterUser.ConfirmPassword" type="password" class="form-control" />
        <ValidationMessage For="() => RegisterUser.ConfirmPassword" />
    </div>

    <button class="btn btn-primary" type="submit">@ButtonText</button>
    <p class="text-danger">@ErrorMessage</p>
</EditForm>

@code {
    [Parameter]
    public RegisterUser RegisterUser { get; set; } = new();

    [Parameter]
    public Func<Task> OnValidSubmit { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public string ErrorMessage { get; set; }

    private string ConfirmPassword { get; set; } = string.Empty;
}
